body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.slider {
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
}
.slider .rs-range-color {
	background-color: #ffffff;
}
.slider .rs-path-color {
	background-color: #ffffff;
}
.slider .rs-handle {
	background-color: #000000;
}
.slider .rs-border {
	border-color: black;
}

/* Navbar */

.navbar-default {
  background-color: #333333;
  font-family: 'Roboto Slab', Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #4caf50;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #4caf50;
}
.navbar-default .navbar-toggle {
  border-color: #4caf50;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #4caf50;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #4caf50;
  }
}

/* remove firefox's dotted outline*/
a, a:active, a:focus{
    outline: none !important;
}

/* Tables */

#container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.ef-table {
    border-collapse: collapse;
    width: 100%;
	margin: 0;
	padding: 0;
  	font-family: Verdana,sans-serif;
  	font-size: 15px;
  	line-height: 1.5;
	border: 1px solid #ccc;
}

.ef-table th, .ef-table td {
    text-align: left;
    padding: 8px;
	border: 1px solid #ccc;
}

.ef-table tr:nth-child(odd){background-color: whitesmoke;}

.ef-table th {
    background-color: whitesmoke;
    color: black;
}