<!-- Modal window -->
	<div id="#configBox" class="container">

		<div class="container" id="container"></div>

		<div class="modal fade" id="configBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="configBoxTitle">Configure shutter</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label class="control-label">Location</label>
								<input type="text" class="form-control" placeholder="Brian's bedroom" autocomplete="off" id="shutterName">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id="closeConfigBox" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="applyChanges">Apply changes</button>
					</div>
				</div>
			</div>
		</div>

	</div>