<div id="loginBox" style="display: none;">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>EasyFlap</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" id="user" class="login-field" value="" autocomplete="off" placeholder="Username" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" id="pass" class="login-field" value="" placeholder="Password" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<a id="loginButton" class="btn btn-primary btn-large btn-block" href="">login</a>
			</div>
		</div>
	</div>


    <style>
        

*:focus {
	outline: none;
}
body {
font-family: Arial;
padding: 50px;
}
.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 0px;
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

.login-field {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

.login-field:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

    </style>
    
    <script>
        window.onload = function(){$('body').css('background-color', '#3498DB');};
    </script>

</div>